@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
html, body{
	width: 100%; 	
	height: 100%;
	font-family: 'Sigmar One', cursive !important;
	font-size: 18px;
	background-color: rgb(0,0,0) !important;
}
.navbar{
	background-color: #2c6c0c;
}
.main-blog{
	color: white;
}
.container-fluid h1 a{
	color: green;
}
.nav-item a{
	text-decoration: none;
	color: white !important;
}
.nav-item a:hover{
	color: #91fa64 !important;
}
.nav-item button{
	border: 1px solid white;
}
.fa-book{
	font-size: 40px;
	color: white;
}
.fa-book:hover{
	color: #91fa64;
}
.admin-profile ul li .dropdown-menu{
	background-color: #29ff5e;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top,#54ff6b 0%,#32fc4e 50%,#24ff42 51%,#00ff22 100%);
}

/* BOOK */

.main-book{
	color: white;
}
.main-book a{
	text-decoration: none !important;
	color: white;
}
.main-book a:hover{
	color: #91fa64;
}
.book-header{
	background-size: 100%;
	height: 380px;
	vertical-align: middle;
}
.book-header .col-12{
	margin-top: 100px;
}
.book-header .display-2{
	color: #41e01d ;
	text-shadow: 5px 5px 4px #20a802;
}
.book-header .col-12 h5{
	color: white;
}
.book-section img{
	width: 100%;
    height: 391px;
}
.fa-heart{
	color: red;
	font-size: 21px !important;
}
.fa-heart:hover{
	color: #ff5e5e;
}
.fa-cart-plus{
	color: green;
}
.fa-cart-plus:hover{
	color: #8bff85;
}
.cart a{
	text-decoration: none;
}
.cart .dropdown-menu{
	margin-top: 13px;
	left: auto !important; 
	right:0;
	width: 300px;
	background-color: #29ff5e;
}
.shopping-cart-list{
	height: fit-content;
	max-height: 380px; 
	overflow-y:scroll;
}
.fa-trash-alt{
    font-size: 17px !important;
}
.book_widget{
	padding: 9px;
	display: flex;
}
.book_widget .col-3{
	padding: 0 !important;
}
.product-body .book_price{
	color: green;
}
.product-body .book_name{
	font-size: 14px;
}
.total_price{
	padding: 0 15px;
}
.total_price .text-right{
	float: right;
}
.shopping-cart-btns{
	padding-left: 10px; 
}
#total{
	color: green;
}
.total-buy p{
	color: black;
	margin-bottom: 0px;
}

/* PAGINATION */

.pagination{
	width: fit-content;
	padding-right: 20px; 
	border: 2px solid green;
}
.pagination .page-item{
	margin-left: 20px !important;
}
.pagination .page{
	margin-left: 20px !important;
}
.cart{
    margin: 7px 13px;
}
.cart a{
	color: white;
}
.cart a:hover{
	color: green;
}
.cart i{
	font-size: 29px;
}
.nb {
	margin-top: -5px;
	margin-left: -10px;
    text-align: center;
    line-height: 17px;
    width: 17px;
    height: 17px;
    background-color: #0ce846;
    color: #fff;
    border-radius: 50%;
    font-size: 15px;
    position: absolute;
}
.cart-notify{
    position: absolute;
    width: 300px;
    background-color: #000;
    padding: 28px;
    left: -230px;
    transition: all .1s linear;
    opacity: 0;
    border-radius: 2px;
    display: none;
}
.cart-notify-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: #fff;
}
.cart-notify-info {
    flex: 1 1;
    margin: 0 10px;
    letter-spacing: 1px;
}
.page a{
	color: green !important;
}
.currentpage a{
	color: white !important;
}
.modal-dialog{
	color: green;
}
.modal-content .price h4{
	color: green;
	text-decoration: none;
}
.modal-dialog .old-price{
	padding-bottom: 9px;
  	text-decoration: line-through;
  	color: #9e998b;
}

/* DETAIL BOOK */

.book-detail-in4 h3{
	color: #8eff8a;
}
.book-detail-section{
	display: contents;
}
.price{
	display: flex;
}
.price h2{
	padding-right: 15px;
}
.price h4{
  text-decoration: line-through;
  color: #cccccc;
}
.book-quantity{
	display: flex;
	margin-left: 29px;
}
.book-quantity p{
	margin-right: 15px;
}
.book-quantity input{
	width: 40px;
	height: 35px;
	text-align: center;
}
.quantity-ic{
	display: grid;
	margin-left: 15px;
	margin-top: -11px;
}
.quantity{
	width: 34px;
	height: 30px;
}
.shopping-ic{
	justify-content: flex-end;
}
.shopping-ic i{
	font-size: 29px;
}
.shopping-ic a{
	margin-right: 20px;
}
hr.light{
	border-top: 2px solid rgb(155, 242, 104);
	width: 100%;
	margin-bottom: 1rem;
}
.rate{
	display: flex;
	width: fit-content;
    border-bottom: 2px solid yellow;
    margin-bottom: 7px;
}
div.stars {
  	width: 150px;
  	display: inline-block;
  	float: left;
    margin-left: 7px;
    margin-top: -7px;
}
div.stars p{
	margin-bottom: 0;
}

input.star { display: none; }
 
label.star {
    float: right;
    padding: 4px;
    font-size: 23px;
    color: #444;
    transition: all .2s;
    margin-bottom: 0;
}
label.star:hover{
	color: yellow;
}
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
 
input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
 
input.star-1:checked ~ label.star:before { color: #F62; }
 
label.star:hover { transform: rotate(-15deg) scale(1.3); }
 
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

/* REVIEW-SECTION */


.nav-tabs li{
    margin: 0 0px 15px -3px;
}
.review-box .form-review{
	display: contents;
}
.client-review{
	height: fit-content;
	max-height: 555px; 
	overflow-y:scroll;
	direction: rtl;
}
.comments{
	display: flex;
	width: 100%;
	direction: ltr; 
}
.commenter-in4{
	float: left;
	padding-top: 10px;
	margin-right: -15px 
}	
.commenter-in4 img{
	max-width: 60px;
	max-height: 60px;
    margin-top: 9px;
}
.like{
    position: absolute;
    width: fit-content;
    background: blue;
	color: white;
    font-size: 16px;
    bottom: -23px;
    margin-left: 19px;
    padding: 1px 5px;
    border: 2px solid blue;
    border-radius: 9px;
}
.fa-clock-o{
	color: green;
	font-size: 17px;
}
.commenter-content{
	margin-left: -20px;
	margin-top: 20px;
	border: 1px solid #2d7a00;
	border-radius: 17px;
	padding: 5px 15px;
	width: fit-content;
}
.commenter-content p{
	color: #8eff8a;
	margin-bottom: 0.5rem;
}
.commenter-content h6{
	font-size: 15px;
}

.sub-commenter button{
    color: white;
	background: none;
	border: none;
	cursor: pointer;
}
.sub-commenter button:focus{
	background: none;
	border: none;
}
.reply-form{
    width: 77%;
    margin-left: 129px;
    float: left;
}
.reply-form img{
    position: absolute;
    max-width: 40px;
    max-height: 40px;
    margin-top: 2px;
    left: 140px;
}
.reply-form button{
    position: absolute;
    font-size: 11px;
    right: 85px;
    margin-top: 9px;
}
.reply-form input[type=text] {
    word-wrap: break-word;
    word-break: break-all;
    height: 49px;
}
.reply-form input{
    direction: ltr;
    margin-left: -40px;
    padding-left: 55px;
    padding-right: 88px;
	width: 96%;
	height: 49px;
	color: white;
	font-size: 15px;
    background: none;
    border: 0px;
    border-bottom: 3px solid green;
}
.reply-form input:focus{
	color: white;
    background: none !important;
    border: none;
}
.error{
	background-color: #ff9191 !important;
	color: red !important;
	padding: 9px;
	width: fit-content;
	border-radius: 9px;
	margin-top: 9px;
}
.display-review h6:hover{
    text-decoration: underline;
}
.display-review h6{
    cursor: pointer;
}
.reply-comments{
	font-size: 15px;
	display: flex;
	width: 100%;
	direction: ltr; 
	left: 96px;
	border-left: 4px solid green;
	margin: 7px 0;
	padding: 0 0;
}
.reply-commenter-in4{
	float: left;
	padding-top: 10px;
    margin-right: -29px;
}	
.reply-commenter-in4 img{
	max-width: 50px;
	max-height: 50px;
    margin-top: 9px;
}
.reply-commenter-content{
	margin-left: -20px;
	margin-top: 20px;
	border: 1px solid #2d7a00;
	border-radius: 17px;
	padding: 5px 15px;
	width: fit-content;
}
.reply-commenter-content p{
	color: #8eff8a;
	margin-bottom: 0.5rem;
}
.reply-commenter-content h6{
	font-size: 15px;
}
.commenter-content .stars{
    width: fit-content;
    display: block;
    border: 1px solid yellow;
    border-radius: 13px;
    padding: 1px 5px;
    margin: -2px 7px 12px 0px;
}
.commenter-content .stars label.star{
    font-size: 20px;
	margin-bottom: 0px;
	padding: 0;
}
.commenter-content .stars label.star:before{
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}
.book-avg-rate .stars{
    width: fit-content;
    display: flex;
    border: 1px solid yellow;
    border-radius: 13px;
    padding: 1px 5px;
    margin: -2px 7px 12px 0px;
}
.book-avg-rate .stars label.star{
    font-size: 20px;
	margin-bottom: 0px;
	padding: 0;
}
.book-avg-rate .stars label.star:before{
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}
.book-in4 .stars{
    width: fit-content;
    display: flex;
    border: 1px solid yellow;
    border-radius: 13px;
    padding: 1px 5px;
    margin: 0px 0px 0px 37px;
}
.book-in4 .stars label.star{
    font-size: 20px;
	margin-bottom: 0px;
	padding: 0;
}
.book-in4 .stars label.star:before{
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}
.total-buy .stars{
    width: fit-content;
    display: flex;
    background: darkred;
	color: white;
    border: 1px solid yellow;
    border-radius: 13px;
    padding: 1px 5px;
    margin: 0 0 4px 49px;
}
.total-buy .stars label.star{
    font-size: 20px;
	margin-bottom: 0px;
	padding: 0;
}
.total-buy .stars label.star:before{
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

.page-item a{
	color: green;
}
.other-book-section{
	padding: 29px;
	border: 1px solid green;
	border-radius: 17px;
	-webkit-box-shadow: 0px 0px 9px 5px rgba(94,255,124,0.96);
	-moz-box-shadow: 0px 0px 9px 5px rgba(94,255,124,0.96);
	box-shadow: 0px 0px 9px 5px rgba(94,255,124,0.96);
}

/*CHECKOUT*/
.product-widget{
	display: flex;
	margin: 9px;
}
.product-in4{
	display: flex;
}
.na-pri{
	display: block;
}
.product-count{
	display: flex;
}
.product-count input{
	width: 40px;
	height: 35px;
	text-align: center;
}
.quantity-ic{
	height: 15px;
	margin-left: 3px;
	margin-top: -8px;
}
.quantity-ic i{
	font-size: 13px;
}
.quantity-ic a{
	height: 20px;
}
.check-list{
	height: 366px; 
	overflow-y:scroll;
}
.product-widget .trash{
    margin-left: 9px;
    margin-top: 69px;
}
.product-price{
	color: green;
}
.bg .row{
	display: grid;
}
.bg .row img{
	opacity: 0.6;
}
.text-content h2{
	color: green;
	padding: 15px 29px;
	border-radius: 30px;
	border: 2px solid green;
	width: fit-content;
}
.waiting-text{
	margin-left: -26px;
    transform: rotate(-6deg);
    margin-top: 147px;
}
.waiting-text hr{	
	margin-top: 0;
	margin-bottom: 5px;
	border-top: 5px solid #249806;
	width: 100%;
}
.order-detail h1, h5{
	color: green;
}
tr.table-header{
	background-color: green;
}

/* SHOPPINGCART */

.menu{
	display: flex;
}																							
.menu li{
	display: block !important;
}
.your_cart{
	display: flex;
    align-items: center;
}
.your_cart li{
	display: block !important;
}
.media{
    align-items: center;
}
.media .media-body{
	margin-left: 10px;
}
.media-body{
    margin-top: 15px;
}
.total{
	color: green;
}
.total-price{
	margin-left: 29px;
}



/* FOOTER */

footer{
	color: white;
	background-color: #2d7a00;
	margin-top: 70px;
	padding-top: 20px;
}
hr.dark{
	border-top: 2px solid rgb(155, 242, 104);
	width: 70%;
	margin-bottom: 1rem;
}
/*media query*/
@media (max-width: 992px){
	.admin-profile{
		display: contents;
	}
	.commenter-in4{
    	margin-right: 0px;
	}		
	.reply-commenter-in4{
    margin-right: -9px;
	}	
}

@media (max-width: 678px){
	.business-time{
		display: none;
	}
	.service{
		display: none;
	}
	.commenter-content{
		margin-left: 0px; 
	}
	.admin-profile{
		display: contents;
	}
	.commenter-in4{
    	margin-right: 0px;
	}		
	.reply-commenter-in4{
    margin-right: 0px;
	}	
}

@media (max-width: 768px) {
	.checkout-detail h2{
		font-size: 22px;
	}
	.menu{
		padding-left: 0px; 
		font-size: 11px;
	}
	.your_cart{
		padding-left: 0px;
		font-size: 9px;
	}
	.media-body{
		margin-top: 0;
	}
	.media img{
	    width: 50px;
	    height: 66px;
	}
	.price h5{
		font-size: 9px;
	}
	.qty input{
	    font-size: 13px;
	    width: 20px;
	    height: 20px;
	}
	.qty a{
		margin-left: 3px !important;
	}
	.quantity-ic{
		margin-top: -5px;
	}
	.quantity-ic i {
	    font-size: 9px;
	}
	.quantity-ic a{
		height: 15px;
	}
	.total h5{
		font-size: 9px;
	}
	.commenter-in4{
    	margin-right: 0px;
	}		
	.reply-commenter-in4{
    margin-right: 0px;
	}	
}

@media (max-width: 576px){
	.business-time{
		display: none;
	}
	.service{
		display: none;
	}
	.commenter-content{
		margin-left: 0px; 
	}
	.admin-profile{
		display: contents;
	}
	.na-pri h6{
		font-size: 15px;
	}
	.commenter-in4 img{
		padding-right: 3px; 
	}
	.commenter-content{
		font-size: 15px;
	}
	.commenter-in4 {
	    margin-right: 9px;
	    margin-left: -27px;
	}
	.other-book-section{	
	    margin: 0 13px;
	    padding: 9px;
	}
	.other-book-section .pt-4{
		margin-top: 0px;
	}
	.book-section img{
	    width: 100%;
	    height: 177px;
	}
	.book-in4 h6{
		font-size: 9px;
	}
	.book-in4 p{
		font-size: 12px;
	}
	.book-in4 .btn{
		margin-left: 7px;
		font-size: 11px;
	}
	.commenter-in4{
    	margin-right: 0px;
	}		
	.reply-commenter-in4{
    	margin-right: 0px;
	}
	.reply-form button{
    	right: 22px;
	}

}